{% load static %}
{% load thumbnail %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Precious Hands Tool</title>
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/Site.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="my-navbar">
    <div class="row">
        <div class="col-sm-8">
            <!--<img src="{% static 'img/Precious_Logo.png' %}" width="80">-->
            <h2>Precious Hands Administration Tool</h2>
        </div>
        <div class="col-sm-4">
            <!--<a href="tool/logout/">Logout</a> |
            <a href="user/edit/me">Edit Settings</a>-->
            <img class="profile-image" src="{{ profile_image.url }}">
        </div>
    </div>
</div>
<main role="main" class="content">
    <div class="row">
        <div class="col-sm-8">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-sm-4">
            <p>Stats</p>
        </div>
    </div>
</main>
<footer>
    <p>Version 1.3</p>
</footer>
</body>
</html>