{% extends 'tool/base.html' %}

{% block content %}
<style>
    .card {
        padding: 20px;
        margin-bottom: 40px;
    }
</style>
<div class="card">
    {% if messages %}
        {% for message in messages %}
            <h3>{{ message|safe }}</h3>
        {% endfor %}
    {% endif %}
    <h3>{{ option }}</h3>
    {% if image %}
        <img src="{{ image.url }}" width="300">
    {% endif %}
    <form class="create" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p }}
        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}