{% extends 'tool/base.html' %}

{% block content %}
<style>
    .card {
        padding: 20px;
        margin-bottom: 40px;
    }
</style>
<div class="card">
    <h3>View
    {% if option == "child" %}
    a child
    {% elif option == 'donor' %}
    a donor
    {% elif option == 'donate' %}
    a donation
    {% elif option == 'donation_plan' %}
    a Donationplan
    {% elif option == 'user' %}
    a User
    {% endif %}
    </h3>
    <ul>
    {% for x in ret %}
    <li><a href="../../{{ option }}/edit/{{x.id}}">{{x}}</a>
        <script>
            console.log("{{ option }}");
        </script>
    {% if option == "donation_plan" %}
        <a href="../donate/{{x.id}}"> | Donate</a>
        {% endif %}
    </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}